In [1]:
!pip install mysql-connector-python
!pip install SQLAlchemy
!pip install pandas
!pip install bcrypt  # パスワードのハッシュ化に使用

Requirement already satisfied: mysql-connector-python in c:\users\kouji\appdata\local\programs\python\python312\lib\site-packages (9.1.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: SQLAlchemy in c:\users\kouji\appdata\local\programs\python\python312\lib\site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kouji\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kouji\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy) (3.1.1)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\kouji\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kouji\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kouji\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kouji\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kouji\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\kouji\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: '#'

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
import bcrypt
import mysql.connector
from mysql.connector import errorcode

In [6]:
# ポータルから接続文字列情報を取得する

config = {
  'host':'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
  'user':'tech0gen7student',
  'password':'F4XyhpicGw6P',
  'database':'app_db',
  'client_flags': [mysql.connector.ClientFlag.SSL],
  'ssl_ca': '/DigiCertGlobalRootCA.crt.pem'
}

In [7]:
# DB接続確認

try:
   conn = mysql.connector.connect(**config)
   print("接続成功")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("ユーザー名またはパスワードが間違っています")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("データベースが存在しません")
  else:
    print(err)
else:
  cursor = conn.cursor()

接続成功

In [8]:
# user_masterテーブルの内容を取得
cursor.execute("SELECT * FROM user_master")

# 結果を取得
rows = cursor.fetchall()

# 結果を表示
print("user_master テーブルの内容:")
for row in rows:
    print(row)

user_master テーブルの内容:
('1', 'マサル', '$2b$12$/4QDDK2.fA7EBID5M.MqWuTRQT1w3vnGkYuhgBu8zGSB6kYLvhmGe')
('2', 'じろー', '$2b$12$yL2BD0bvjjNccR2KrS/EoO9hyzNQTF.jyXptp0OvphsZYcLMe1oma')
('3', 'くが', '$2b$12$dG1s6/mbI8N23w82X8yJvOX8Z5HMOS3GysK.RDBE/T9TfJ/ns4ULu')
('4', 'ふるさん', '$2b$12$ruWOWoQLYrtO9YOEA91A5elCtiXYLSJVaSVj8qQtEPnMROLFtoKl6')

In [9]:
# status_tableテーブルの内容を取得
cursor.execute("SELECT * FROM status_table")

# 結果を取得
rows = cursor.fetchall()

# 結果を表示
print("\nstatus_table テーブルの内容:")
for row in rows:
    print(row)

status_table テーブルの内容:
(1, '1', 80, 70, 60)
(2, '2', 50, 60, 90)
(3, '3', 70, 80, 40)
(4, '4', 90, 85, 75)

In [10]:
user_id = '1'

# user_masterテーブルから特定のユーザーを取得
cursor.execute("SELECT * FROM user_master WHERE user_id = %s", (user_id,))
user = cursor.fetchone()

if user:
    print(f"\nuser_master テーブルのユーザー {user_id} の情報:")
    print(user)
else:
    print(f"\nuser_master テーブルにユーザー {user_id} は存在しません。")

# status_tableテーブルから特定のユーザーのステータスを取得
cursor.execute("SELECT * FROM status_table WHERE user_id = %s", (user_id,))
status = cursor.fetchone()

if status:
    print(f"\nstatus_table テーブルのユーザー {user_id} のステータス:")
    print(status)
else:
    print(f"\nstatus_table テーブルにユーザー {user_id} のステータスは存在しません。")

user_master テーブルのユーザー 1 の情報:
('1', 'マサル', '$2b$12$/4QDDK2.fA7EBID5M.MqWuTRQT1w3vnGkYuhgBu8zGSB6kYLvhmGe')

status_table テーブルのユーザー 1 のステータス:
(1, '1', 80, 70, 60)

In [74]:
import pandas as pd
from sqlalchemy import create_engine

# 接続情報を設定
DATABASE_CONFIG = {
    'drivername': 'mysql+mysqlconnector',
    'host': 'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'port': '3306',
    'username': 'tech0gen7student',
    'password': 'F4XyhpicGw6P',
    'database': 'app_db',
    'query': {'ssl_ca': '/DigiCertGlobalRootCA.crt.pem'}
}

# SQLAlchemyエンジンを作成
engine = create_engine(URL.create(**DATABASE_CONFIG))

# テーブルデータの確認
try:
    with engine.connect() as connection:
        # テーブルuser_masterをデータフレームに読み込む
        user_master_df = pd.read_sql('SELECT * FROM user_master', connection)
        print("user_masterテーブル:")
        print(user_master_df)
        
        # テーブルstatus_tableをデータフレームに読み込む
        status_table_df = pd.read_sql('SELECT * FROM status_table', connection)
        print("\nstatus_tableテーブル:")
        print(status_table_df)
except Exception as e:
    print("エラー:", e)

user_masterテーブル:
  user_id  name                                           password avatar_url  \
0       1   マサル  $2b$12$/4QDDK2.fA7EBID5M.MqWuTRQT1w3vnGkYuhgBu...       None
1       2   じろー  $2b$12$yL2BD0bvjjNccR2KrS/EoO9hyzNQTF.jyXptp0O...       None
2       3    くが  $2b$12$dG1s6/mbI8N23w82X8yJvOX8Z5HMOS3GysK.RDB...       None
3       4  ふるさん  $2b$12$ruWOWoQLYrtO9YOEA91A5elCtiXYLSJVaSVj8qQ...       None
4       5   ダミー  $2b$12$opO4x/fctEbvsNs.CLfhyeBqiipkJyZIIuqMuh2...       None

  core_time
0      None
1      None
2      None
3      None
4      None

status_tableテーブル:
   id user_id  biz  design  tech
0   1       1   80      70    60
1   2       2   50      60    90
2   3       3   70      80    40
3   4       4   90      85    75
4   5       5   70      80    60

In [12]:
# CSVにエクスポートする関数
def export_table_to_csv(table_name, output_file):
    try:
        with engine.connect() as connection:
            # テーブルデータを読み込み
            df = pd.read_sql(f'SELECT * FROM {table_name}', connection)
            # データをCSVファイルに保存
            df.to_csv(output_file, index=False, encoding='utf-8-sig')
            print(f"テーブル '{table_name}' を '{output_file}' にエクスポートしました。")
    except Exception as e:
        print(f"エラー: テーブル '{table_name}' のエクスポートに失敗しました: {e}")

# 各テーブルをCSVにエクスポート
export_table_to_csv('user_master', 'user_master.csv')
export_table_to_csv('status_table', 'status_table.csv')

テーブル 'user_master' を 'user_master.csv' にエクスポートしました。
テーブル 'status_table' を 'status_table.csv' にエクスポートしました。

テーブル作成

In [15]:
import mysql.connector
from mysql.connector import errorcode

# データベース接続設定（機密情報は適切に管理してください）
config = {
  'host':'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
  'user':'tech0gen7student',
  'password':'F4XyhpicGw6P',
  'database':'app_db',
  'client_flags': [mysql.connector.ClientFlag.SSL],
  'ssl_ca': '/DigiCertGlobalRootCA.crt.pem'
}

try:
    conn = mysql.connector.connect(**config)
    cursor = conn.cursor()

    create_table_query = """
    CREATE TABLE IF NOT EXISTS team_members (
        team_id INT NOT NULL,
        role VARCHAR(10) NOT NULL,
        user_id VARCHAR(50) NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
        PRIMARY KEY (team_id, role),
        FOREIGN KEY (user_id) REFERENCES user_master(user_id)
    );
    """

    cursor.execute(create_table_query)
    conn.commit()
    print("Table 'team_members' has been created successfully.")

except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    cursor.close()
    conn.close()

Table 'team_members' has been created successfully.

In [17]:
# ポータルから接続文字列情報を取得する

config = {
  'host':'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
  'user':'tech0gen7student',
  'password':'F4XyhpicGw6P',
  'database':'app_db',
  'client_flags': [mysql.connector.ClientFlag.SSL],
  'ssl_ca': '/DigiCertGlobalRootCA.crt.pem'
}

In [18]:
# DB接続確認

try:
   conn = mysql.connector.connect(**config)
   print("接続成功")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("ユーザー名またはパスワードが間違っています")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("データベースが存在しません")
  else:
    print(err)
else:
  cursor = conn.cursor()

接続成功

In [19]:
# status_tableテーブルの内容を取得
cursor.execute("SELECT * FROM team_members")

# 結果を取得
rows = cursor.fetchall()

# 結果を表示
print("\nteam_members テーブルの内容:")
for row in rows:
    print(row)

team_members テーブルの内容:

In [20]:
# ユーザーマスターにサンプルユーザーを追加
insert_user_query = """
INSERT INTO user_master (user_id, name, password)
VALUES (%s, %s, %s);
"""

# パスワードのハッシュ化
import bcrypt
password = bcrypt.hashpw('password'.encode('utf-8'), bcrypt.gensalt()).decode('utf-8')

user_data = [
    ('5', 'ダミー', password),
    # 他のユーザーも追加可能
]

cursor.executemany(insert_user_query, user_data)
conn.commit()

In [21]:
# ステータステーブルにサンプルデータを追加
insert_status_query = """
INSERT INTO status_table (user_id, biz, design, tech)
VALUES (%s, %s, %s, %s);
"""

status_data = [
    ('5', 70, 80, 60),
    # 他のユーザーも追加可能
]

cursor.executemany(insert_status_query, status_data)
conn.commit()

ユーザーマスタテーブルの拡張

In [27]:
import mysql.connector
from mysql.connector import errorcode

# ポータルから接続文字列情報を取得する
config = {
    'host':'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user':'tech0gen7student',
    'password':'F4XyhpicGw6P',
    'database':'app_db',
    'client_flags': [mysql.connector.ClientFlag.SSL],
    'ssl_ca': '/DigiCertGlobalRootCA.crt.pem'
}

try:
    conn = mysql.connector.connect(**config)
    print("接続成功")
    cursor = conn.cursor()
    
    # user_master テーブルに avatar_url と core_time を追加
    alter_user_master = """
    ALTER TABLE user_master
    ADD COLUMN avatar_url VARCHAR(255),
    ADD COLUMN core_time VARCHAR(50);
    """
    cursor.execute(alter_user_master)
    print("user_master テーブルを拡張しました。")
    
    # 得意分野用中間テーブルの作成
    create_user_specialties = """
    CREATE TABLE IF NOT EXISTS user_specialties (
        user_id VARCHAR(50) NOT NULL,
        specialty VARCHAR(50) NOT NULL,
        PRIMARY KEY (user_id, specialty),
        FOREIGN KEY (user_id) REFERENCES user_master(user_id)
    );
    """
    cursor.execute(create_user_specialties)
    print("user_specialties テーブルを作成しました。")
    
    # 志向性用中間テーブルの作成
    create_user_orientations = """
    CREATE TABLE IF NOT EXISTS user_orientations (
        user_id VARCHAR(50) NOT NULL,
        orientation VARCHAR(50) NOT NULL,
        PRIMARY KEY (user_id, orientation),
        FOREIGN KEY (user_id) REFERENCES user_master(user_id)
    );
    """
    cursor.execute(create_user_orientations)
    print("user_orientations テーブルを作成しました。")
    
    # specialty テーブルの作成
    create_specialty = """
    CREATE TABLE IF NOT EXISTS specialty (
        specialty VARCHAR(50) PRIMARY KEY
    );
    """
    cursor.execute(create_specialty)
    print("specialty テーブルを作成しました。")
    
    # orientation テーブルの作成
    create_orientation = """
    CREATE TABLE IF NOT EXISTS orientation (
        orientation VARCHAR(50) PRIMARY KEY
    );
    """
    cursor.execute(create_orientation)
    print("orientation テーブルを作成しました。")
    
    conn.commit()
    
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("ユーザー名またはパスワードが間違っています")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("データベースが存在しません")
    else:
        print(err)
finally:
    cursor.close()
    conn.close()

接続成功
user_master テーブルを拡張しました。
user_specialties テーブルを作成しました。
user_orientations テーブルを作成しました。
specialty テーブルを作成しました。
orientation テーブルを作成しました。

中間テーブルの追加

In [30]:
import mysql.connector
from mysql.connector import errorcode

# ポータルから接続文字列情報を取得する
config = {
    'host':'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user':'tech0gen7student',
    'password':'F4XyhpicGw6P',
    'database':'app_db',
    'client_flags': [mysql.connector.ClientFlag.SSL],
    'ssl_ca': '/DigiCertGlobalRootCA.crt.pem'
}

try:
    conn = mysql.connector.connect(**config)
    print("接続成功")
    cursor = conn.cursor()
    
    # user_master テーブルに avatar_url と core_time を追加
    alter_user_master = """
    ALTER TABLE user_master
    ADD COLUMN avatar_url VARCHAR(255),
    ADD COLUMN core_time VARCHAR(50);
    """
    cursor.execute(alter_user_master)
    print("user_master テーブルを拡張しました。")
    
    # 得意分野用中間テーブルの作成
    create_user_specialties = """
    CREATE TABLE IF NOT EXISTS user_specialties (
        user_id VARCHAR(50) NOT NULL,
        specialty VARCHAR(50) NOT NULL,
        PRIMARY KEY (user_id, specialty),
        FOREIGN KEY (user_id) REFERENCES user_master(user_id)
    );
    """
    cursor.execute(create_user_specialties)
    print("user_specialties テーブルを作成しました。")
    
    # 志向性用中間テーブルの作成
    create_user_orientations = """
    CREATE TABLE IF NOT EXISTS user_orientations (
        user_id VARCHAR(50) NOT NULL,
        orientation VARCHAR(50) NOT NULL,
        PRIMARY KEY (user_id, orientation),
        FOREIGN KEY (user_id) REFERENCES user_master(user_id)
    );
    """
    cursor.execute(create_user_orientations)
    print("user_orientations テーブルを作成しました。")
    
    # specialty テーブルの作成
    create_specialty = """
    CREATE TABLE IF NOT EXISTS specialty (
        specialty VARCHAR(50) PRIMARY KEY
    );
    """
    cursor.execute(create_specialty)
    print("specialty テーブルを作成しました。")
    
    # orientation テーブルの作成
    create_orientation = """
    CREATE TABLE IF NOT EXISTS orientation (
        orientation VARCHAR(50) PRIMARY KEY
    );
    """
    cursor.execute(create_orientation)
    print("orientation テーブルを作成しました。")
    
    # 必要に応じて、初期データを追加
    # 例: specialty テーブルにデータを挿入
    specialties = ['Tech', 'Design', 'Biz']
    for specialty in specialties:
        try:
            cursor.execute("INSERT INTO specialty (specialty) VALUES (%s)", (specialty,))
        except mysql.connector.Error as err:
            if err.errno == errorcode.ER_DUP_ENTRY:
                # 重複エントリは無視
                pass
            else:
                raise
    print("specialty テーブルにデータを追加しました。")
    
    # 例: orientation テーブルにデータを挿入
    orientations = ['Tech', 'Design', 'Biz', 'PdM']
    for orientation in orientations:
        try:
            cursor.execute("INSERT INTO orientation (orientation) VALUES (%s)", (orientation,))
        except mysql.connector.Error as err:
            if err.errno == errorcode.ER_DUP_ENTRY:
                # 重複エントリは無視
                pass
            else:
                raise
    print("orientation テーブルにデータを追加しました。")
    
    conn.commit()
    
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("ユーザー名またはパスワードが間違っています")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("データベースが存在しません")
    else:
        print(err)
finally:
    cursor.close()
    conn.close()

接続成功
1060 (42S21): Duplicate column name 'avatar_url'

中間テーブルへのデータ挿入

In [5]:
import mysql.connector
from mysql.connector import errorcode

# ポータルから接続文字列情報を取得する
config = {
    'host':'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user':'tech0gen7student',
    'password':'F4XyhpicGw6P',
    'database':'app_db',
    'client_flags': [mysql.connector.ClientFlag.SSL],
    'ssl_ca': '/DigiCertGlobalRootCA.crt.pem'
}

try:
    conn = mysql.connector.connect(**config)
    print("接続成功")
    cursor = conn.cursor()
    
    # 例: ユーザー1に Tech と Biz の得意分野を追加
    user_id = '3'
    specialties = ['Design']
    for specialty in specialties:
        try:
            cursor.execute("INSERT INTO user_specialties (user_id, specialty) VALUES (%s, %s)", (user_id, specialty))
        except mysql.connector.Error as err:
            if err.errno == errorcode.ER_DUP_ENTRY:
                # 重複エントリは無視
                pass
            else:
                raise
    print("user_specialties にデータを追加しました。")
    
    # 例: ユーザー1に Tech と PdM の志向性を追加
    orientations = ['Design']
    for orientation in orientations:
        try:
            cursor.execute("INSERT INTO user_orientations (user_id, orientation) VALUES (%s, %s)", (user_id, orientation))
        except mysql.connector.Error as err:
            if err.errno == errorcode.ER_DUP_ENTRY:
                # 重複エントリは無視
                pass
            else:
                raise
    print("user_orientations にデータを追加しました。")
    
    conn.commit()
    
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("ユーザー名またはパスワードが間違っています")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("データベースが存在しません")
    else:
        print(err)
finally:
    cursor.close()
    conn.close()

接続成功
user_specialties にデータを追加しました。
user_orientations にデータを追加しました。

データベースのテーブルの確認

In [16]:
# Jupyter Notebookのセルに以下を入力

import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine, inspect
import pandas as pd

# データベース接続設定
config = {
    'host': 'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user': 'tech0gen7student',
    'password': 'F4XyhpicGw6P',
    'database': 'app_db',
    'client_flags': [mysql.connector.ClientFlag.SSL],
    'ssl_ca': '/path/to/DigiCertGlobalRootCA.crt.pem'  # SSL証明書のパス
}

try:
    # SQLAlchemyエンジンの作成
    engine = create_engine(
        f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}/{config['database']}?ssl_ca={config['ssl_ca']}"
    )

    # 接続の確認
    with engine.connect() as connection:
        print("接続成功")

        # テーブル一覧の取得
        inspector = inspect(engine)
        tables = inspector.get_table_names()
        print("\nデータベース内のテーブル一覧:")
        for table in tables:
            print(table)

        # 各テーブルの内容を表示
        for table in tables:
            print(f"\n{table} テーブルの内容:")
            df = pd.read_sql(f"SELECT * FROM {table};", connection)
            display(df.head())  # 最初の5行を表示
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("ユーザー名またはパスワードが間違っています")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("データベースが存在しません")
    else:
        print(err)
except Exception as e:
    print("予期せぬエラーが発生しました:", e)

接続成功

データベース内のテーブル一覧:
orientation
quizzes
specialty
status_table
team
team_members
user_master
user_orientations
user_specialties

orientation テーブルの内容:

  orientation
0         Biz
1      Design
2         PdM
3        Tech

quizzes テーブルの内容:

,id,question_text,options,correct_index,explanation,category,date
0,1,Tech Quiz - 質問1,"[""選択肢A"", ""選択肢B"", ""選択肢C"", ""選択肢D""]",0,Tech Quiz - 質問1の解説。,Tech,2024-11-24
1,2,Tech Quiz - 質問2,"[""選択肢E"", ""選択肢F"", ""選択肢G"", ""選択肢H""]",1,Tech Quiz - 質問2の解説。,Tech,2024-11-24
2,3,Tech Quiz - 質問3,"[""選択肢I"", ""選択肢J"", ""選択肢K"", ""選択肢L""]",2,Tech Quiz - 質問3の解説。,Tech,2024-11-24
3,4,Tech Quiz - 質問4,"[""選択肢M"", ""選択肢N"", ""選択肢O"", ""選択肢P""]",3,Tech Quiz - 質問4の解説。,Tech,2024-11-24
4,5,Tech Quiz - 質問5,"[""選択肢Q"", ""選択肢R"", ""選択肢S"", ""選択肢T""]",0,Tech Quiz - 質問5の解説。,Tech,2024-11-24

specialty テーブルの内容:

  specialty
0       Biz
1    Design
2      Tech

status_table テーブルの内容:

   id user_id  biz  design  tech
0   1       1   80      70    60
1   2       2   50      60    90
2   3       3   70      80    40
3   4       4   90      85    75
4   5       5   70      80    60

team テーブルの内容:

   id  name
0   1  チームA
1   2  チームB

team_members テーブルの内容:

   team_id  role user_id          created_at          updated_at
0        1   Biz       3 2024-12-08 09:24:02 2024-12-08 09:24:02
1        1  Tech       1 2024-12-08 09:01:11 2024-12-08 09:01:11
2        2   Biz       1 2024-12-08 09:19:34 2024-12-08 09:19:34
3        2   PdM       4 2024-12-08 09:19:13 2024-12-08 09:19:13

user_master テーブルの内容:

,user_id,name,password,avatar_url,core_time
0,1,マサル,$2b$12$C2hQgpkIpsyegk2/Uwf8wOwqVKKtTERj9nxS4jV...,None,None
1,2,じろー,$2b$12$44kOyLRTI7rsc/bNCaisfejRF32J9tT/FDO7sGM...,None,None
2,3,くが,$2b$12$L7yAslOTRuw0CUp39Zp2quTMJdDhMhPCdNasRxT...,None,None
3,4,ふるさん,$2b$12$eIbAPal/g/SUk4LIiJPV4eEC1CbC5Ihh0O0SEim...,None,None
4,5,ダミー,$2b$12$ByIHWCS6FWGToFkuGDoG6uXfs7QRz6EmsyNCh.A...,None,None

user_orientations テーブルの内容:

  user_id orientation
0       1         PdM
1       1        Tech
2       2        Tech
3       3      Design

user_specialties テーブルの内容:

  user_id specialty
0       1       Biz
1       1      Tech
2       2      Tech
3       3    Design

In [14]:
from sqlalchemy import text

with engine.connect() as connection:
    # orientationの既存値を確認
    df_o = pd.read_sql("SELECT orientation FROM orientation;", connection)
    existing_orientations = df_o['orientation'].tolist() if not df_o.empty else []
    to_insert_orientations = ['PdM', 'Tech', 'Design', 'Biz']
    insert_values_o = [val for val in to_insert_orientations if val not in existing_orientations]

    # specialtyの既存値を確認
    df_s = pd.read_sql("SELECT specialty FROM specialty;", connection)
    existing_specialties = df_s['specialty'].tolist() if not df_s.empty else []
    to_insert_specialties = ['Biz', 'Tech', 'Design']
    insert_values_s = [val for val in to_insert_specialties if val not in existing_specialties]

with engine.begin() as connection:
    if insert_values_o:
        values_str_o = ",".join([f"('{v}')" for v in insert_values_o])
        # text()でラップしてSQL文を実行
        connection.execute(text(f"INSERT INTO orientation (orientation) VALUES {values_str_o};"))

    if insert_values_s:
        values_str_s = ",".join([f"('{v}')" for v in insert_values_s])
        connection.execute(text(f"INSERT INTO specialty (specialty) VALUES {values_str_s};"))

print("データ挿入完了")

データ挿入完了

In [15]:
with engine.connect() as connection:
    # orientationテーブルのデータ確認
    df_orientation = pd.read_sql("SELECT * FROM orientation;", connection)
    print("orientation テーブルの内容:")
    display(df_orientation)

    # specialtyテーブルのデータ確認
    df_specialty = pd.read_sql("SELECT * FROM specialty;", connection)
    print("specialty テーブルの内容:")
    display(df_specialty)

orientation テーブルの内容:

  orientation
0         Biz
1      Design
2         PdM
3        Tech

specialty テーブルの内容:

  specialty
0       Biz
1    Design
2      Tech

チームテーブルの作成

In [57]:
import mysql.connector
from mysql.connector import errorcode

# ポータルから接続文字列情報を取得する
config = {
    'host':'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user':'tech0gen7student',
    'password':'F4XyhpicGw6P',
    'database':'app_db',
    'client_flags': [mysql.connector.ClientFlag.SSL],
    'ssl_ca': '/DigiCertGlobalRootCA.crt.pem'
}

try:
    conn = mysql.connector.connect(**config)
    print("接続成功")
    cursor = conn.cursor()
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("ユーザー名またはパスワードが間違っています")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("データベースが存在しません")
    else:
        print(err)

接続成功

In [37]:
# team テーブルの作成
create_team_table = """
CREATE TABLE IF NOT EXISTS team (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL
);
"""

try:
    cursor.execute(create_team_table)
    print("team テーブルを作成しました。")
except mysql.connector.Error as err:
    print(f"team テーブルの作成に失敗しました: {err}")

team テーブルを作成しました。

In [38]:
# team_members テーブルに外部キー制約を追加
alter_team_members_fk = """
ALTER TABLE team_members
ADD CONSTRAINT fk_team
FOREIGN KEY (team_id) REFERENCES team(id)
ON DELETE CASCADE
ON UPDATE CASCADE;
"""

try:
    cursor.execute(alter_team_members_fk)
    print("team_members テーブルに外部キー制約を追加しました。")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_DUP_KEYNAME:
        print("外部キー制約は既に存在します。")
    else:
        print(f"外部キー制約の追加に失敗しました: {err}")

team_members テーブルに外部キー制約を追加しました。

In [39]:
# チームデータの挿入
insert_team = """
INSERT INTO team (id, name)
VALUES (1, 'チームA')
ON DUPLICATE KEY UPDATE name = VALUES(name);
"""

try:
    cursor.execute(insert_team)
    conn.commit()
    print("チームAを挿入または更新しました。")
except mysql.connector.Error as err:
    print(f"チームAの挿入に失敗しました: {err}")

チームAを挿入または更新しました。

In [58]:
# チームメンバーのデータ挿入
insert_team_members = """
INSERT INTO team_members (team_id, role, user_id)
VALUES
    (1, 'PdM', '1'),
    (1, 'Biz', '2')
ON DUPLICATE KEY UPDATE role = VALUES(role), user_id = VALUES(user_id);
"""

try:
    cursor.execute(insert_team_members)
    conn.commit()
    print("チームメンバーを挿入または更新しました。")
except mysql.connector.Error as err:
    print(f"チームメンバーの挿入に失敗しました: {err}")

チームメンバーを挿入または更新しました。

In [59]:
# team テーブルの内容を表示
print("\nteam テーブルの内容:")
cursor.execute("SELECT * FROM team;")
for row in cursor.fetchall():
    print(row)

# team_members テーブルの内容を表示
print("\nteam_members テーブルの内容:")
cursor.execute("SELECT * FROM team_members;")
for row in cursor.fetchall():
    print(row)

# team_members テーブルのスキーマを表示
print("\nteam_members テーブルのスキーマの内容:")
cursor.execute("DESCRIBE team_members;")
for row in cursor.fetchall():
    print(row)

team テーブルの内容:
(1, 'チームA')

team_members テーブルの内容:
(1, 'Biz', '2', datetime.datetime(2024, 12, 4, 8, 1, 41), datetime.datetime(2024, 12, 4, 8, 1, 41))
(1, 'PdM', '1', datetime.datetime(2024, 12, 4, 8, 1, 41), datetime.datetime(2024, 12, 4, 8, 1, 41))

team_members テーブルのスキーマの内容:
('team_id', 'int', 'NO', 'PRI', None, '')
('role', 'varchar(10)', 'NO', 'PRI', None, '')
('user_id', 'varchar(50)', 'NO', 'MUL', None, '')
('created_at', 'timestamp', 'YES', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED')
('updated_at', 'timestamp', 'YES', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')

In [42]:
cursor.close()
conn.close()
print("\n接続を閉じました。")

接続を閉じました。

In [49]:
import mysql.connector
from mysql.connector import errorcode

# 接続設定
config = {
    'host':'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user':'tech0gen7student',
    'password':'F4XyhpicGw6P',
    'database':'app_db',
    'client_flags': [mysql.connector.ClientFlag.SSL],
    'ssl_ca': '/DigiCertGlobalRootCA.crt.pem'
}

try:
    conn = mysql.connector.connect(**config)
    cursor = conn.cursor()
    print("接続成功")

    # team_members テーブルに id カラムが存在するか確認
    cursor.execute("DESCRIBE team_members;")
    columns = cursor.fetchall()
    column_names = [column[0] for column in columns]
    if 'id' not in column_names:
        print("id カラムが存在しないため、追加します。")
        # 複合主キーの設定を確認
        cursor.execute("""
            ALTER TABLE team_members
            DROP PRIMARY KEY,
            ADD PRIMARY KEY (team_id, role);
        """)
        conn.commit()
        print("複合主キー (team_id, role) を設定しました。")
    else:
        print("id カラムは既に存在します。")

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("ユーザー名またはパスワードが間違っています")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("データベースが存在しません")
    else:
        print(err)
finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()
        print("接続を閉じました")

接続成功
id カラムが存在しないため、追加します。
複合主キー (team_id, role) を設定しました。
接続を閉じました

In [53]:
import mysql.connector
from mysql.connector import errorcode

# 接続設定
config = {
    'host':'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user':'tech0gen7student',
    'password':'F4XyhpicGw6P',
    'database':'app_db',
    'client_flags': [mysql.connector.ClientFlag.SSL],
    'ssl_ca': '/DigiCertGlobalRootCA.crt.pem'
}

try:
    conn = mysql.connector.connect(**config)
    cursor = conn.cursor()
    print("接続成功")

    # user_master テーブルの内容を表示
    print("\nuser_master テーブルの内容:")
    cursor.execute("SELECT * FROM user_master;")
    for row in cursor.fetchall():
        print(row)

    # team テーブルの内容を表示
    print("\nteam テーブルの内容:")
    cursor.execute("SELECT * FROM team;")
    for row in cursor.fetchall():
        print(row)

    # team_members テーブルの内容を表示
    print("\nteam_members テーブルの内容:")
    cursor.execute("SELECT * FROM team_members;")
    for row in cursor.fetchall():
        print(row)

    # team_members テーブルのスキーマを表示
    print("\nteam_members テーブルのスキーマの内容:")
    cursor.execute("DESCRIBE team_members;")
    for row in cursor.fetchall():
        print(row)
    
    # user_master テーブルに存在しない user_id を持つ team_members を確認
    print("\nuser_master に存在しない user_id を持つ team_members:")
    cursor.execute("""
        SELECT tm.*
        FROM team_members tm
        LEFT JOIN user_master um ON tm.user_id = um.user_id
        WHERE um.user_id IS NULL;
    """)
    for row in cursor.fetchall():
        print(row)
    
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("ユーザー名またはパスワードが間違っています")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("データベースが存在しません")
    else:
        print(err)
except Exception as e:
    print("予期せぬエラーが発生しました:", e)
finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()
        print("接続を閉じました")

接続成功

user_master テーブルの内容:
('1', 'マサル', '$2b$12$/4QDDK2.fA7EBID5M.MqWuTRQT1w3vnGkYuhgBu8zGSB6kYLvhmGe', None, None)
('2', 'じろー', '$2b$12$yL2BD0bvjjNccR2KrS/EoO9hyzNQTF.jyXptp0OvphsZYcLMe1oma', None, None)
('3', 'くが', '$2b$12$dG1s6/mbI8N23w82X8yJvOX8Z5HMOS3GysK.RDBE/T9TfJ/ns4ULu', None, None)
('4', 'ふるさん', '$2b$12$ruWOWoQLYrtO9YOEA91A5elCtiXYLSJVaSVj8qQtEPnMROLFtoKl6', None, None)
('5', 'ダミー', '$2b$12$opO4x/fctEbvsNs.CLfhyeBqiipkJyZIIuqMuh2cOa5DgSL/R8tqW', None, None)

team テーブルの内容:
(1, 'チームA')

team_members テーブルの内容:
(1, 'Biz', '2', datetime.datetime(2024, 12, 3, 18, 46, 2), datetime.datetime(2024, 12, 3, 18, 46, 2))
(1, 'PdM', '1', datetime.datetime(2024, 12, 3, 18, 46, 2), datetime.datetime(2024, 12, 3, 18, 46, 2))

team_members テーブルのスキーマの内容:
('team_id', 'int', 'NO', 'PRI', None, '')
('role', 'varchar(10)', 'NO', 'PRI', None, '')
('user_id', 'varchar(50)', 'NO', 'MUL', None, '')
('created_at', 'timestamp', 'YES', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED')
('updated_at', 'timestamp', 'YES', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')

user_master に存在しない user_id を持つ team_members:
接続を閉じました

In [54]:
import passlib
import bcrypt

print("passlib バージョン:", passlib.__version__)
print("bcrypt バージョン:", bcrypt.__version__)

passlib バージョン: 1.7.4
bcrypt バージョン: 4.2.1

クイズのテーブル追加

In [60]:
# 必要なライブラリのインポート
from sqlalchemy import create_engine, Column, Integer, String, Text, Date, JSON
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from datetime import datetime
import json

# SQLAlchemyのBaseクラスを定義
Base = declarative_base()

# quizzesテーブルのモデル定義
class Quiz(Base):
    __tablename__ = 'quizzes'
    
    id = Column(Integer, primary_key=True, index=True)
    question_text = Column(Text, nullable=False)
    options = Column(JSON, nullable=False)
    correct_index = Column(Integer, nullable=False)
    explanation = Column(Text, nullable=False)
    category = Column(String(50), nullable=False)
    date = Column(Date, nullable=False)

C:\Users\kouji\AppData\Local\Temp\ipykernel_17984\654907668.py:9: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [61]:
# 必要なライブラリのインポート
from sqlalchemy import inspect

# データベース接続設定
config = {
    'host': 'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user': 'tech0gen7student',
    'password': 'F4XyhpicGw6P',
    'database': 'app_db',
    'client_flags': ['SSL'],  # 'mysql.connector.ClientFlag.SSL' を文字列 'SSL' に変更
    'ssl_ca': '/path/to/DigiCertGlobalRootCA.crt.pem'  # SSL証明書のパスを正確に指定
}

# SQLAlchemyエンジンの作成
engine = create_engine(
    f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}/{config['database']}?ssl_ca={config['ssl_ca']}"
)

# 接続の確認
try:
    with engine.connect() as connection:
        print("データベースへの接続に成功しました。")
        
        # 既存のテーブル一覧の取得
        inspector = inspect(engine)
        tables = inspector.get_table_names()
        print("\nデータベース内のテーブル一覧:")
        for table in tables:
            print(f"- {table}")
except Exception as e:
    print(f"データベースへの接続に失敗しました: {e}")

データベースへの接続に成功しました。

データベース内のテーブル一覧:
- orientation
- specialty
- status_table
- team
- team_members
- user_master
- user_orientations
- user_specialties

In [62]:
# テーブルの作成
Base.metadata.create_all(engine)
print("quizzesテーブルが作成されました。")

quizzesテーブルが作成されました。

In [63]:
# セッションの作成
Session = sessionmaker(bind=engine)
session = Session()

# クイズデータの定義
quizzes_data = [
    {
        "id": 1,
        "question_text": "Tech Quiz - 質問1",
        "options": ["選択肢A", "選択肢B", "選択肢C", "選択肢D"],
        "correct_index": 0,
        "explanation": "Tech Quiz - 質問1の解説。",
        "category": "Tech Quiz",
        "date": datetime.strptime("2024-11-24", "%Y-%m-%d").date()
    },
    {
        "id": 2,
        "question_text": "Tech Quiz - 質問2",
        "options": ["選択肢E", "選択肢F", "選択肢G", "選択肢H"],
        "correct_index": 1,
        "explanation": "Tech Quiz - 質問2の解説。",
        "category": "Tech Quiz",
        "date": datetime.strptime("2024-11-24", "%Y-%m-%d").date()
    },
    {
        "id": 3,
        "question_text": "Tech Quiz - 質問3",
        "options": ["選択肢I", "選択肢J", "選択肢K", "選択肢L"],
        "correct_index": 2,
        "explanation": "Tech Quiz - 質問3の解説。",
        "category": "Tech Quiz",
        "date": datetime.strptime("2024-11-24", "%Y-%m-%d").date()
    },
    {
        "id": 4,
        "question_text": "Tech Quiz - 質問4",
        "options": ["選択肢M", "選択肢N", "選択肢O", "選択肢P"],
        "correct_index": 3,
        "explanation": "Tech Quiz - 質問4の解説。",
        "category": "Tech Quiz",
        "date": datetime.strptime("2024-11-24", "%Y-%m-%d").date()
    },
    {
        "id": 5,
        "question_text": "Tech Quiz - 質問5",
        "options": ["選択肢Q", "選択肢R", "選択肢S", "選択肢T"],
        "correct_index": 0,
        "explanation": "Tech Quiz - 質問5の解説。",
        "category": "Tech Quiz",
        "date": datetime.strptime("2024-11-24", "%Y-%m-%d").date()
    },
    # Bizカテゴリの質問
    {
        "id": 6,
        "question_text": "Biz - 問1:バリュープロポジションキャンバスを使う意義は何ですか？",
        "options": [
            "顧客の解像度を上げて、本質的な価値を提供する。",
            "製品のコスト削減のみを目的とする。",
            "顧客との直接的な会話を避けるためのツールである。",
            "競合の成功事例を模倣するためのフレームワークである。"
        ],
        "correct_index": 0,
        "explanation": "バリュープロポジションキャンバスは顧客の解像度を高め、そのニーズに基づいた価値提供を行うためのツールです​。",
        "category": "Biz",
        "date": datetime.strptime("2024-09-24", "%Y-%m-%d").date()
    },
    {
        "id": 7,
        "question_text": "Biz - 問2:Juiceroの失敗の主な原因は何ですか？",
        "options": [
            "技術的な欠陥があったため。",
            "顧客が必要としない価値に投資したため。",
            "他社の競争力に負けたため。",
            "資金調達が不十分だったため。"
        ],
        "correct_index": 1,
        "explanation": "Juiceroは顧客のニーズを正確に理解せず、誰も必要としない価値を提供したため失敗しました。",
        "category": "Biz",
        "date": datetime.strptime("2024-09-24", "%Y-%m-%d").date()
    },
    {
        "id": 8,
        "question_text": "Biz - 問3:トヨタとフェラーリの顧客層における大きな違いは何ですか？",
        "options": [
            "トヨタは高級車、フェラーリは低価格車を提供する。",
            "トヨタは優越感、フェラーリは安心感を提供する。",
            "トヨタは誰もが手に入れられる移動手段、フェラーリはステータスを提供する。",
            "トヨタは環境重視、フェラーリは技術重視。"
        ],
        "correct_index": 2,
        "explanation": "トヨタは「誰もが手に入れられる安心安全な移動手段」を提供し、フェラーリは「優越感溢れるステータス」を提供する顧客価値の違いがあります​。",
        "category": "Biz",
        "date": datetime.strptime("2024-09-24", "%Y-%m-%d").date()
    },
    {
        "id": 9,
        "question_text": "Biz - 問4:顧客セグメント作成フローの最初のステップは何ですか？",
        "options": [
            "顧客の課題（ペイン）を洗い出す。",
            "提供する価値を特定する。",
            "顧客セグメントを特定する。",
            "製品の価格を設定する。"
        ],
        "correct_index": 2,
        "explanation": "顧客セグメント作成フローでは、最初に「誰に」価値を提供するかを特定することから始めます。",
        "category": "Biz",
        "date": datetime.strptime("2024-09-24", "%Y-%m-%d").date()
    },
    {
        "id": 10,
        "question_text": "Biz - 問5:バリューマップとは何をするためのツールですか？",
        "options": [
            "顧客に提供する価値を設計するためのツール。",
            "製品の生産コストを削減するためのツール。",
            "競合企業の模倣を促進するためのツール。",
            "顧客との直接的なコミュニケーションを避けるためのツール。"
        ],
        "correct_index": 0,
        "explanation": "バリューマップは、顧客の利得を生み出し、悩みを取り除く製品やサービスを設計するためのツールです。",
        "category": "Biz",
        "date": datetime.strptime("2024-09-24", "%Y-%m-%d").date()
    },
    # Designカテゴリの質問
    {
        "id": 11,
        "question_text": "Design - 問1:UXデザインにおける「エクスペリエンスデザイン」とは、主に何を目指しているのでしょうか？",
        "options": [
            "高機能で便利なサービスを提供すること",
            "顧客が言葉にできなかったニーズを満たすこと",
            "顧客の声をそのまま反映すること",
            "企業の利益を最大化すること"
        ],
        "correct_index": 1,
        "explanation": "エクスペリエンスデザインとは、顧客が心の底では欲していたが言葉にできなかったニーズや無意識に諦めていた経験を実現することを目指すプロセスです。便利さだけではなく、深い価値を提供することが重要です。",
        "category": "Design",
        "date": datetime.strptime("2024-02-13", "%Y-%m-%d").date()
    },
    {
        "id": 12,
        "question_text": "Design - 問2:以下の中で、「UXデザイン」におけるペルソナの目的として最も適切なものはどれでしょうか？",
        "options": [
            "顧客の属性だけでターゲットを分類する",
            "仮想の顧客像を具体化して理解を深める",
            "顧客行動を全てデータ化する",
            "既存顧客の不満を解消する"
        ],
        "correct_index": 1,
        "explanation": "ペルソナは商品やサービスのターゲットとなる架空の顧客像を設定し、具体的な理解を深めるために活用されます。",
        "category": "Design",
        "date": datetime.strptime("2024-02-13", "%Y-%m-%d").date()
    },
    {
        "id": 13,
        "question_text": "Design - 問3:次の「デザインの4原則」に含まれないものはどれでしょうか？",
        "options": [
            "近接",
            "整列",
            "均等",
            "強弱"
        ],
        "correct_index": 2,
        "explanation": "デザインの4原則は、「近接」「整列」「反復」「強弱」の4つで構成されます。「均等」という項目は含まれません。",
        "category": "Design",
        "date": datetime.strptime("2024-02-13", "%Y-%m-%d").date()
    },
    {
        "id": 14,
        "question_text": "Design - 問4:「配色」において、RGBの組み合わせは主に何を表現するために使用されますか？",
        "options": [
            "選択肢ディスプレイ上の色",
            "印刷物の色",
            "白黒の濃淡",
            "補色の関係"
        ],
        "correct_index": 0,
        "explanation": "RGB（赤・緑・青）の組み合わせはディスプレイ上で色を表現するために使用されます。一方、印刷物ではCMYKが使用されます。",
        "category": "Design",
        "date": datetime.strptime("2024-02-13", "%Y-%m-%d").date()
    },
    {
        "id": 15,
        "question_text": "Design - 問5:「彩度」が高い色はどのような印象を与えますか？",
        "options": [
            "落ち着いた印象",
            "柔らかい印象",
            "鮮やかで目を引く印象",
            "ぼんやりとした印象"
        ],
        "correct_index": 2,
        "explanation": "彩度が高い色は鮮やかで目を引く効果があります。一方、彩度が低い色は落ち着いた印象を与えます。",
        "category": "Design",
        "date": datetime.strptime("2024-02-13", "%Y-%m-%d").date()
    }
]

# データの挿入
try:
    for quiz in quizzes_data:
        # 既に存在するIDを避けるためにチェック
        existing_quiz = session.query(Quiz).filter_by(id=quiz["id"]).first()
        if not existing_quiz:
            new_quiz = Quiz(
                id=quiz["id"],
                question_text=quiz["question_text"],
                options=quiz["options"],
                correct_index=quiz["correct_index"],
                explanation=quiz["explanation"],
                category=quiz["category"],
                date=quiz["date"]
            )
            session.add(new_quiz)
    session.commit()
    print("クイズデータの挿入が完了しました。")
except Exception as e:
    session.rollback()
    print(f"データの挿入中にエラーが発生しました: {e}")
finally:
    session.close()

クイズデータの挿入が完了しました。

In [64]:
# セッションの作成
Session = sessionmaker(bind=engine)
session = Session()

# 挿入されたクイズデータの確認
try:
    quizzes = session.query(Quiz).all()
    for quiz in quizzes:
        print(f"ID: {quiz.id}, Category: {quiz.category}, Question: {quiz.question_text}")
except Exception as e:
    print(f"データの取得中にエラーが発生しました: {e}")
finally:
    session.close()

ID: 1, Category: Tech Quiz, Question: Tech Quiz - 質問1
ID: 2, Category: Tech Quiz, Question: Tech Quiz - 質問2
ID: 3, Category: Tech Quiz, Question: Tech Quiz - 質問3
ID: 4, Category: Tech Quiz, Question: Tech Quiz - 質問4
ID: 5, Category: Tech Quiz, Question: Tech Quiz - 質問5
ID: 6, Category: Biz, Question: Biz - 問1:バリュープロポジションキャンバスを使う意義は何ですか？
ID: 7, Category: Biz, Question: Biz - 問2:Juiceroの失敗の主な原因は何ですか？
ID: 8, Category: Biz, Question: Biz - 問3:トヨタとフェラーリの顧客層における大きな違いは何ですか？
ID: 9, Category: Biz, Question: Biz - 問4:顧客セグメント作成フローの最初のステップは何ですか？
ID: 10, Category: Biz, Question: Biz - 問5:バリューマップとは何をするためのツールですか？
ID: 11, Category: Design, Question: Design - 問1:UXデザインにおける「エクスペリエンスデザイン」とは、主に何を目指しているのでしょうか？
ID: 12, Category: Design, Question: Design - 問2:以下の中で、「UXデザイン」におけるペルソナの目的として最も適切なものはどれでしょうか？
ID: 13, Category: Design, Question: Design - 問3:次の「デザインの4原則」に含まれないものはどれでしょうか？
ID: 14, Category: Design, Question: Design - 問4:「配色」において、RGBの組み合わせは主に何を表現するために使用されますか？
ID: 15, Category: Design, Question: Design - 問5:「彩度」が高い色はどのような印象を与えますか？

In [65]:
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine, inspect
import pandas as pd

# データベース接続設定
config = {
    'host': 'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user': 'tech0gen7student',
    'password': 'F4XyhpicGw6P',
    'database': 'app_db',
    'client_flags': [mysql.connector.ClientFlag.SSL],
    'ssl_ca': '/path/to/DigiCertGlobalRootCA.crt.pem'  # 実際のパスに置き換えてください
}

try:
    # SQLAlchemyエンジンの作成
    engine = create_engine(
        f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}/{config['database']}?ssl_ca={config['ssl_ca']}"
    )

    # 接続の確認
    with engine.connect() as connection:
        print("接続成功")

        # テーブル一覧の取得
        inspector = inspect(engine)
        tables = inspector.get_table_names()
        print("\nデータベース内のテーブル一覧:")
        for table in tables:
            print(table)

        # quizzesテーブルの内容を表示
        if 'quizzes' in tables:
            print("\nquizzes テーブルの内容:")
            df = pd.read_sql("SELECT * FROM quizzes;", connection)
            display(df.head())
        else:
            print("\nquizzes テーブルが存在しません。")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("ユーザー名またはパスワードが間違っています")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("データベースが存在しません")
    else:
        print(err)
except Exception as e:
    print("予期せぬエラーが発生しました:", e)

接続成功

データベース内のテーブル一覧:
orientation
quizzes
specialty
status_table
team
team_members
user_master
user_orientations
user_specialties

quizzes テーブルの内容:

,id,question_text,options,correct_index,explanation,category,date
0,1,Tech Quiz - 質問1,"[""選択肢A"", ""選択肢B"", ""選択肢C"", ""選択肢D""]",0,Tech Quiz - 質問1の解説。,Tech Quiz,2024-11-24
1,2,Tech Quiz - 質問2,"[""選択肢E"", ""選択肢F"", ""選択肢G"", ""選択肢H""]",1,Tech Quiz - 質問2の解説。,Tech Quiz,2024-11-24
2,3,Tech Quiz - 質問3,"[""選択肢I"", ""選択肢J"", ""選択肢K"", ""選択肢L""]",2,Tech Quiz - 質問3の解説。,Tech Quiz,2024-11-24
3,4,Tech Quiz - 質問4,"[""選択肢M"", ""選択肢N"", ""選択肢O"", ""選択肢P""]",3,Tech Quiz - 質問4の解説。,Tech Quiz,2024-11-24
4,5,Tech Quiz - 質問5,"[""選択肢Q"", ""選択肢R"", ""選択肢S"", ""選択肢T""]",0,Tech Quiz - 質問5の解説。,Tech Quiz,2024-11-24

In [66]:
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine, inspect
import pandas as pd
from sqlalchemy.orm import sessionmaker
from datetime import datetime

# データベース接続設定
config = {
    'host': 'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user': 'tech0gen7student',
    'password': 'F4XyhpicGw6P',
    'database': 'app_db',
    'client_flags': [mysql.connector.ClientFlag.SSL],
    'ssl_ca': '/path/to/DigiCertGlobalRootCA.crt.pem'  # 実際のパスに置き換えてください
}

try:
    # SQLAlchemyエンジンの作成
    engine = create_engine(
        f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}/{config['database']}?ssl_ca={config['ssl_ca']}"
    )

    # 接続の確認
    with engine.connect() as connection:
        print("接続成功")

        # テーブル一覧の取得
        inspector = inspect(engine)
        tables = inspector.get_table_names()
        print("\nデータベース内のテーブル一覧:")
        for table in tables:
            print(table)

        # quizzesテーブルの内容を表示
        if 'quizzes' in tables:
            print("\nquizzes テーブルの内容:")
            df = pd.read_sql("SELECT * FROM quizzes;", connection)
            print(df)  # display(df.head()) はJupyter環境専用のため、通常は print(df) を使用
        else:
            print("\nquizzes テーブルが存在しません。")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("ユーザー名またはパスワードが間違っています")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("データベースが存在しません")
    else:
        print(err)
except Exception as e:
    print("予期せぬエラーが発生しました:", e)

接続成功

データベース内のテーブル一覧:
orientation
quizzes
specialty
status_table
team
team_members
user_master
user_orientations
user_specialties

quizzes テーブルの内容:
    id                                      question_text  \
0    1                                    Tech Quiz - 質問1
1    2                                    Tech Quiz - 質問2
2    3                                    Tech Quiz - 質問3
3    4                                    Tech Quiz - 質問4
4    5                                    Tech Quiz - 質問5
5    6               Biz - 問1:バリュープロポジションキャンバスを使う意義は何ですか？
6    7                     Biz - 問2:Juiceroの失敗の主な原因は何ですか？
7    8              Biz - 問3:トヨタとフェラーリの顧客層における大きな違いは何ですか？
8    9                Biz - 問4:顧客セグメント作成フローの最初のステップは何ですか？
9   10                   Biz - 問5:バリューマップとは何をするためのツールですか？
10  11  Design - 問1:UXデザインにおける「エクスペリエンスデザイン」とは、主に何を目指し...
11  12  Design - 問2:以下の中で、「UXデザイン」におけるペルソナの目的として最も適切なも...
12  13          Design - 問3:次の「デザインの4原則」に含まれないものはどれでしょうか？
13  14  Design - 問4:「配色」において、RGBの組み合わせは主に何を表現するために使用され...
14  15                Design - 問5:「彩度」が高い色はどのような印象を与えますか？

                                              options  correct_index  \
0                    ["選択肢A", "選択肢B", "選択肢C", "選択肢D"]              0
1                    ["選択肢E", "選択肢F", "選択肢G", "選択肢H"]              1
2                    ["選択肢I", "選択肢J", "選択肢K", "選択肢L"]              2
3                    ["選択肢M", "選択肢N", "選択肢O", "選択肢P"]              3
4                    ["選択肢Q", "選択肢R", "選択肢S", "選択肢T"]              0
5   ["顧客の解像度を上げて、本質的な価値を提供する。", "製品のコスト削減のみを目的とする。...              0
6   ["技術的な欠陥があったため。", "顧客が必要としない価値に投資したため。", "他社の競...              1
7   ["トヨタは高級車、フェラーリは低価格車を提供する。", "トヨタは優越感、フェラーリは安心...              2
8   ["顧客の課題（ペイン）を洗い出す。", "提供する価値を特定する。", "顧客セグメントを...              2
9   ["顧客に提供する価値を設計するためのツール。", "製品の生産コストを削減するためのツール...              0
10  ["高機能で便利なサービスを提供すること", "顧客が言葉にできなかったニーズを満たすこと"...              1
11  ["顧客の属性だけでターゲットを分類する", "仮想の顧客像を具体化して理解を深める", "...              1
12                           ["近接", "整列", "均等", "強弱"]              2
13        ["選択肢ディスプレイ上の色", "印刷物の色", "白黒の濃淡", "補色の関係"]              0
14   ["落ち着いた印象", "柔らかい印象", "鮮やかで目を引く印象", "ぼんやりとした印象"]              2

                                          explanation   category        date
0                                 Tech Quiz - 質問1の解説。  Tech Quiz  2024-11-24
1                                 Tech Quiz - 質問2の解説。  Tech Quiz  2024-11-24
2                                 Tech Quiz - 質問3の解説。  Tech Quiz  2024-11-24
3                                 Tech Quiz - 質問4の解説。  Tech Quiz  2024-11-24
4                                 Tech Quiz - 質問5の解説。  Tech Quiz  2024-11-24
5   バリュープロポジションキャンバスは顧客の解像度を高め、そのニーズに基づいた価値提供を行うため...        Biz  2024-09-24
6     Juiceroは顧客のニーズを正確に理解せず、誰も必要としない価値を提供したため失敗しました。        Biz  2024-09-24
7   トヨタは「誰もが手に入れられる安心安全な移動手段」を提供し、フェラーリは「優越感溢れるステー...        Biz  2024-09-24
8        顧客セグメント作成フローでは、最初に「誰に」価値を提供するかを特定することから始めます。        Biz  2024-09-24
9    バリューマップは、顧客の利得を生み出し、悩みを取り除く製品やサービスを設計するためのツールです。        Biz  2024-09-24
10  エクスペリエンスデザインとは、顧客が心の底では欲していたが言葉にできなかったニーズや無意識に...     Design  2024-02-13
11  ペルソナは商品やサービスのターゲットとなる架空の顧客像を設定し、具体的な理解を深めるために活...     Design  2024-02-13
12  デザインの4原則は、「近接」「整列」「反復」「強弱」の4つで構成されます。「均等」という項目...     Design  2024-02-13
13  RGB（赤・緑・青）の組み合わせはディスプレイ上で色を表現するために使用されます。一方、印刷...     Design  2024-02-13
14     彩度が高い色は鮮やかで目を引く効果があります。一方、彩度が低い色は落ち着いた印象を与えます。     Design  2024-02-13

In [68]:
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine, inspect
import pandas as pd
from sqlalchemy.orm import sessionmaker
from datetime import datetime

# データベース接続設定
config = {
    'host': 'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user': 'tech0gen7student',
    'password': 'F4XyhpicGw6P',
    'database': 'app_db',
    'client_flags': [mysql.connector.ClientFlag.SSL],
    'ssl_ca': '/path/to/DigiCertGlobalRootCA.crt.pem'  # 実際のパスに置き換えてください
}

try:
    # SQLAlchemyエンジンの作成
    engine = create_engine(
        f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}/{config['database']}?ssl_ca={config['ssl_ca']}"
    )

    # 接続の確認
    with engine.connect() as connection:
        print("接続成功")

        # テーブル一覧の取得
        inspector = inspect(engine)
        tables = inspector.get_table_names()
        print("\nデータベース内のテーブル一覧:")
        for table in tables:
            print(table)

        # quizzesテーブルの内容を表示
        if 'quizzes' in tables:
            print("\nquizzes テーブルの内容:")
            df = pd.read_sql("SELECT * FROM quizzes;", connection)
            print(df)  # Jupyter環境以外では print を使用
        else:
            print("\nquizzes テーブルが存在しません。")

        # 特定の日付とカテゴリでフィルタリング
        selected_date = "2024-11-24"
        selected_categories = ["Biz", "Design"]  # 確認したいカテゴリ
        placeholders = ','.join(['%s'] * len(selected_categories))
        query = f"""
            SELECT * FROM quizzes
            WHERE date = %s AND category IN ({placeholders})
        """
        params = [selected_date] + selected_categories  # date とカテゴリを含むリスト
        df_filtered = pd.read_sql(query, connection, params=params)
        print(f"\n{selected_date}の日付でのカテゴリ {selected_categories} に対応する質問:")
        print(df_filtered)

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("ユーザー名またはパスワードが間違っています")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("データベースが存在しません")
    else:
        print(err)
except Exception as e:
    print("予期せぬエラーが発生しました:", e)

接続成功

データベース内のテーブル一覧:
orientation
quizzes
specialty
status_table
team
team_members
user_master
user_orientations
user_specialties

quizzes テーブルの内容:
    id                                      question_text  \
0    1                                    Tech Quiz - 質問1
1    2                                    Tech Quiz - 質問2
2    3                                    Tech Quiz - 質問3
3    4                                    Tech Quiz - 質問4
4    5                                    Tech Quiz - 質問5
5    6               Biz - 問1:バリュープロポジションキャンバスを使う意義は何ですか？
6    7                     Biz - 問2:Juiceroの失敗の主な原因は何ですか？
7    8              Biz - 問3:トヨタとフェラーリの顧客層における大きな違いは何ですか？
8    9                Biz - 問4:顧客セグメント作成フローの最初のステップは何ですか？
9   10                   Biz - 問5:バリューマップとは何をするためのツールですか？
10  11  Design - 問1:UXデザインにおける「エクスペリエンスデザイン」とは、主に何を目指し...
11  12  Design - 問2:以下の中で、「UXデザイン」におけるペルソナの目的として最も適切なも...
12  13          Design - 問3:次の「デザインの4原則」に含まれないものはどれでしょうか？
13  14  Design - 問4:「配色」において、RGBの組み合わせは主に何を表現するために使用され...
14  15                Design - 問5:「彩度」が高い色はどのような印象を与えますか？

                                              options  correct_index  \
0                    ["選択肢A", "選択肢B", "選択肢C", "選択肢D"]              0
1                    ["選択肢E", "選択肢F", "選択肢G", "選択肢H"]              1
2                    ["選択肢I", "選択肢J", "選択肢K", "選択肢L"]              2
3                    ["選択肢M", "選択肢N", "選択肢O", "選択肢P"]              3
4                    ["選択肢Q", "選択肢R", "選択肢S", "選択肢T"]              0
5   ["顧客の解像度を上げて、本質的な価値を提供する。", "製品のコスト削減のみを目的とする。...              0
6   ["技術的な欠陥があったため。", "顧客が必要としない価値に投資したため。", "他社の競...              1
7   ["トヨタは高級車、フェラーリは低価格車を提供する。", "トヨタは優越感、フェラーリは安心...              2
8   ["顧客の課題（ペイン）を洗い出す。", "提供する価値を特定する。", "顧客セグメントを...              2
9   ["顧客に提供する価値を設計するためのツール。", "製品の生産コストを削減するためのツール...              0
10  ["高機能で便利なサービスを提供すること", "顧客が言葉にできなかったニーズを満たすこと"...              1
11  ["顧客の属性だけでターゲットを分類する", "仮想の顧客像を具体化して理解を深める", "...              1
12                           ["近接", "整列", "均等", "強弱"]              2
13        ["選択肢ディスプレイ上の色", "印刷物の色", "白黒の濃淡", "補色の関係"]              0
14   ["落ち着いた印象", "柔らかい印象", "鮮やかで目を引く印象", "ぼんやりとした印象"]              2

                                          explanation   category        date
0                                 Tech Quiz - 質問1の解説。  Tech Quiz  2024-11-24
1                                 Tech Quiz - 質問2の解説。  Tech Quiz  2024-11-24
2                                 Tech Quiz - 質問3の解説。  Tech Quiz  2024-11-24
3                                 Tech Quiz - 質問4の解説。  Tech Quiz  2024-11-24
4                                 Tech Quiz - 質問5の解説。  Tech Quiz  2024-11-24
5   バリュープロポジションキャンバスは顧客の解像度を高め、そのニーズに基づいた価値提供を行うため...        Biz  2024-09-24
6     Juiceroは顧客のニーズを正確に理解せず、誰も必要としない価値を提供したため失敗しました。        Biz  2024-09-24
7   トヨタは「誰もが手に入れられる安心安全な移動手段」を提供し、フェラーリは「優越感溢れるステー...        Biz  2024-09-24
8        顧客セグメント作成フローでは、最初に「誰に」価値を提供するかを特定することから始めます。        Biz  2024-09-24
9    バリューマップは、顧客の利得を生み出し、悩みを取り除く製品やサービスを設計するためのツールです。        Biz  2024-09-24
10  エクスペリエンスデザインとは、顧客が心の底では欲していたが言葉にできなかったニーズや無意識に...     Design  2024-02-13
11  ペルソナは商品やサービスのターゲットとなる架空の顧客像を設定し、具体的な理解を深めるために活...     Design  2024-02-13
12  デザインの4原則は、「近接」「整列」「反復」「強弱」の4つで構成されます。「均等」という項目...     Design  2024-02-13
13  RGB（赤・緑・青）の組み合わせはディスプレイ上で色を表現するために使用されます。一方、印刷...     Design  2024-02-13
14     彩度が高い色は鮮やかで目を引く効果があります。一方、彩度が低い色は落ち着いた印象を与えます。     Design  2024-02-13
予期せぬエラーが発生しました: List argument must consist only of tuples or dictionaries

In [73]:
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine, inspect
import pandas as pd

# データベース接続設定
config = {
    'host': 'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'user': 'tech0gen7student',
    'password': 'F4XyhpicGw6P',
    'database': 'app_db',
    'client_flags': [mysql.connector.ClientFlag.SSL],
    'ssl_ca': '/path/to/DigiCertGlobalRootCA.crt.pem'  # 実際のパスに置き換えてください
}

try:
    # SQLAlchemyエンジンの作成
    engine = create_engine(
        f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}/{config['database']}?ssl_ca={config['ssl_ca']}"
    )

    # 接続の確認
    with engine.connect() as connection:
        print("接続成功")

        # テーブル一覧の取得
        inspector = inspect(engine)
        tables = inspector.get_table_names()
        print("\nデータベース内のテーブル一覧:")
        for table in tables:
            print(table)

        # quizzesテーブルの内容を表示
        if 'quizzes' in tables:
            print("\nquizzes テーブルの内容:")
            df = pd.read_sql("SELECT * FROM quizzes;", connection)
            print(df[['id', 'category', 'date']])  # カテゴリと日付のみ表示
        else:
            print("\nquizzes テーブルが存在しません。")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("ユーザー名またはパスワードが間違っています")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("データベースが存在しません")
    else:
        print(err)
except Exception as e:
    print("予期せぬエラーが発生しました:", e)

接続成功

データベース内のテーブル一覧:
orientation
quizzes
specialty
status_table
team
team_members
user_master
user_orientations
user_specialties

quizzes テーブルの内容:
    id category        date
0    1     Tech  2024-11-24
1    2     Tech  2024-11-24
2    3     Tech  2024-11-24
3    4     Tech  2024-11-24
4    5     Tech  2024-11-24
5    6      Biz  2024-09-24
6    7      Biz  2024-09-24
7    8      Biz  2024-09-24
8    9      Biz  2024-09-24
9   10      Biz  2024-09-24
10  11   Design  2024-02-13
11  12   Design  2024-02-13
12  13   Design  2024-02-13
13  14   Design  2024-02-13
14  15   Design  2024-02-13

In [72]:
from sqlalchemy.orm import sessionmaker

# SQLAlchemy ORMのセットアップ（既にengineが作成されていると仮定）
Session = sessionmaker(bind=engine)
session = Session()

try:
    # 'Tech Quiz' を 'Tech' に更新
    updated = session.query(Quiz).filter(Quiz.category == 'Tech Quiz').update({"category": "Tech"})
    session.commit()
    print(f"更新されたレコード数: {updated}")
except Exception as e:
    session.rollback()
    print(f"更新中にエラーが発生しました: {e}")
finally:
    session.close()

更新されたレコード数: 5

パスワード更新

In [80]:
import bcrypt
from sqlalchemy import create_engine, text
from sqlalchemy.engine import URL

# データベース接続情報の設定
DATABASE_CONFIG = {
    'drivername': 'mysql+mysqlconnector',
    'host': 'tech0-gen-7-step4-studentrdb-1.mysql.database.azure.com',
    'port': '3306',
    'username': 'tech0gen7student',
    'password': 'F4XyhpicGw6P',
    'database': 'app_db',
    'query': {'ssl_ca': '/path/to/DigiCertGlobalRootCA.crt.pem'}  # 正しいパスに置き換えてください
}

# SQLAlchemyエンジンの作成
engine = create_engine(URL.create(**DATABASE_CONFIG))

def hash_password(plain_password: str) -> str:
    """
    プレーンテキストのパスワードをbcryptでハッシュ化します。
    """
    # bcryptはバイト列を必要とするため、エンコード
    hashed = bcrypt.hashpw(plain_password.encode('utf-8'), bcrypt.gensalt(12))  # コストファクター12
    return hashed.decode('utf-8')  # デコードして文字列として返す

def update_user_password(user_id: int, new_password: str):
    """
    指定したユーザーIDのパスワードを新しいパスワードに更新します。
    """
    try:
        # パスワードをハッシュ化
        hashed_password = hash_password(new_password)
        
        # SQLクエリの準備
        update_query = text("""
            UPDATE user_master
            SET password = :hashed_password
            WHERE user_id = :user_id
        """)
        
        # データベース接続とクエリの実行
        with engine.connect() as connection:
            result = connection.execute(update_query, {"hashed_password": hashed_password, "user_id": user_id})
            connection.commit()
            
            if result.rowcount == 0:
                print(f"ユーザーID {user_id} に対応するレコードが見つかりませんでした。")
            else:
                print(f"ユーザーID {user_id} のパスワードが正常に更新されました。")
                
    except Exception as e:
        print(f"エラーが発生しました: {e}")

if __name__ == "__main__":
    # 変更したいユーザーのIDと新しいパスワードを入力
    user_id = 6  # 例: ユーザーID1のパスワードを変更
    new_password = "password"  # 新しいパスワードを入力
    
    update_user_password(user_id, new_password)

ユーザーID 6 に対応するレコードが見つかりませんでした。